PhoneLogic.Inbound/Service References/PhoneLogicServiceReference/PhoneLogicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhoneLogicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" />
      <xsd:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhoneLogicService_GetJobSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobSummary" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetJobSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetQueueDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueDetail" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetQueueDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetMyQueuedCalls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMyQueuedCalls" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetMyQueuedCalls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMyQueuedCallsResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetRecruitersOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruitersOnline" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetRecruitersOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruitersOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetRecruitersAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruitersAvailable" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_GetRecruitersAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruitersAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_SilentMonitorCall_InputMessage">
    <wsdl:part name="parameters" element="tns:SilentMonitorCall" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_SilentMonitorCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilentMonitorCallResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_BargeIntoCall_InputMessage">
    <wsdl:part name="parameters" element="tns:BargeIntoCall" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_BargeIntoCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:BargeIntoCallResponse" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_DispatchCallInQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DispatchCallInQueue" />
  </wsdl:message>
  <wsdl:message name="IPhoneLogicService_DispatchCallInQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DispatchCallInQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetSilverlightPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSilverlightPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetSilverlightPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSilverlightPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetFlashPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlashPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetFlashPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlashPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhoneLogicService">
    <wsdl:operation name="GetJobSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/GetJobSummary" message="tns:IPhoneLogicService_GetJobSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/GetJobSummaryResponse" message="tns:IPhoneLogicService_GetJobSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueueDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/GetQueueDetail" message="tns:IPhoneLogicService_GetQueueDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/GetQueueDetailResponse" message="tns:IPhoneLogicService_GetQueueDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyQueuedCalls">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/GetMyQueuedCalls" message="tns:IPhoneLogicService_GetMyQueuedCalls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/GetMyQueuedCallsResponse" message="tns:IPhoneLogicService_GetMyQueuedCalls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecruitersOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/GetRecruitersOnline" message="tns:IPhoneLogicService_GetRecruitersOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/GetRecruitersOnlineResponse" message="tns:IPhoneLogicService_GetRecruitersOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecruitersAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/GetRecruitersAvailable" message="tns:IPhoneLogicService_GetRecruitersAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/GetRecruitersAvailableResponse" message="tns:IPhoneLogicService_GetRecruitersAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SilentMonitorCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/SilentMonitorCall" message="tns:IPhoneLogicService_SilentMonitorCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/SilentMonitorCallResponse" message="tns:IPhoneLogicService_SilentMonitorCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BargeIntoCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/BargeIntoCall" message="tns:IPhoneLogicService_BargeIntoCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/BargeIntoCallResponse" message="tns:IPhoneLogicService_BargeIntoCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DispatchCallInQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhoneLogicService/DispatchCallInQueue" message="tns:IPhoneLogicService_DispatchCallInQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhoneLogicService/DispatchCallInQueueResponse" message="tns:IPhoneLogicService_DispatchCallInQueue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPolicyRetriever">
    <wsdl:operation name="GetSilverlightPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyRetriever/GetSilverlightPolicy" message="tns:IPolicyRetriever_GetSilverlightPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyRetriever/GetSilverlightPolicyResponse" message="tns:IPolicyRetriever_GetSilverlightPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlashPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyRetriever/GetFlashPolicy" message="tns:IPolicyRetriever_GetFlashPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyRetriever/GetFlashPolicyResponse" message="tns:IPolicyRetriever_GetFlashPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhoneLogicService" type="tns:IPhoneLogicService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJobSummary">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/GetJobSummary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueDetail">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/GetQueueDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyQueuedCalls">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/GetMyQueuedCalls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecruitersOnline">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/GetRecruitersOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecruitersAvailable">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/GetRecruitersAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SilentMonitorCall">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/SilentMonitorCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BargeIntoCall">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/BargeIntoCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DispatchCallInQueue">
      <soap:operation soapAction="http://tempuri.org/IPhoneLogicService/DispatchCallInQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneLogicService">
    <wsdl:port name="BasicHttpBinding_IPhoneLogicService" binding="tns:BasicHttpBinding_IPhoneLogicService">
      <soap:address location="http://cc-app.reckner.com:1255/PhoneLogic/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>