PhoneLogic.Core/Service References/AppServiceReference/PhoneLogic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" />
  <xs:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://cc-app.reckner.com:1255/PhoneLogic?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetJobSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" minOccurs="0" name="GetJobSummaryResult" nillable="true" type="q1:ArrayOfJobSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" minOccurs="0" name="GetQueueDetailResult" nillable="true" type="q2:ArrayOfQueueDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCallsInQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCallsInQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" minOccurs="0" name="GetAllCallsInQueueResult" nillable="true" type="q3:ArrayOfQueueDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyQueuedCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyQueuedCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMyQueuedCallsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyQueueSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyQueueSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" minOccurs="0" name="GetMyQueueSummaryResult" nillable="true" type="q4:ArrayOfQueueSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecruitersOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecruitersOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRecruitersOnlineResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecruitersAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecruitersAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRecruitersAvailableResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCalls">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PhoneLogic.DataContracts" minOccurs="0" name="GetActiveCallsResult" nillable="true" type="q7:ArrayOfActiveCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecruiterDialOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recruiterUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberToDial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callbackId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecruiterDialOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SilentMonitorCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SilentMonitorCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BargeIntoCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BargeIntoCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchCallInQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchCallInQueueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="GetSilverlightPolicyResult" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>